@model List<Empleado>

@{
    ViewData["Title"] = "Index";
}
<form asp-controller="Empleados" asp-action="Index">
    <input type="text" placeholder="Nombre" name="nombre"/>
    <input type="submit" value="Buscar"/>
</form>

<table class="table table-responsive-sm">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Empleado empleado in Model)
        {
            <tr>
                <td>@empleado.Id</td>
                <td class="empty">@empleado.Nombre</td>
                <td>@empleado.Apellido</td>
                <td>@empleado.FechaNacimiento</td>
                <td><img src="@empleado.Imagen" class="imagen" /></td>

            </tr>
        }

    </tbody>
</table>

